body{
    background: rgb(238,33,95);
    background: linear-gradient(0deg, rgba(238,33,95,1) 0%, rgba(157,150,232,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

li{
    list-style-type: none;
    
}

a{
    text-decoration: none;
}

.sidebar{
   
    position: fixed;
    top: 0;
    left: 0;
    width: 550px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}


.sidebar .profile h3{
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    position: relative;
    text-align: center;
    top: 150px;


}


.sidebar ul li a{
    
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 25px;
    align-items: center;
    position: relative;
    top: 220px;
    display: block;
    padding: 13px 200px;
    margin-top: 10px;
    font-size: 16px;
}


